body
{
	background: url(http://www.wallcoo.com/cartoon/Scrapbook_Art_Paper_Sweet/wallpapers/1920x1080/MCO_UrbanColor01.jpg);
}

h1
{
	color: #FF0000;
	font-size: 30pt;
	font-family: Century, Gothic, Futura, Verdana, sans-serif;
}

p
{
	  
    text-align: center;        
    font-family: 华文行楷;
    font-size: 100px;
}