#info-bar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: grey;
    position: absolute;
    text-align: center;
    bottom: 0%;
    left: 21%;
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
}

#button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    bottom: 10%;
    left: 45%;
    position: absolute;
}

#button:hover #info-bar {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    bottom: 60%;
    left: 21%;
}

.apb {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: rgba(188, 210, 238, 1);
    position: absolute;
    background-image: url(assets/images/atplus_white.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 30%;
    left: 43%;
    background-size: 90%;
    transition: all 1s ease-in-out 0.3s;
}

#button:hover .apb {
    background-image: url(assets/images/atplus_green.png);
    transform: scale(1.8);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background-color: rgba(48, 63, 159, 1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info .page span {
    color: #FFFFFF;
    margin-left: 10px;
}

.info .user {
    margin-top: 10px;
}

.info .user span {
    bottom: 8px;
    position: relative;
}

.info .comment img {
    transform: scale(1.2);
}

.info .comment span {
    font-size: 30px;
}

.info .mine {
    float: left;
}

.info .posted {
    margin-left: 20px;
}

.info .mine span {
    margin-left: 5px;
    bottom: 5px;
    position: relative;
    color: #079E6E;
}

.info .like {
    margin-left: 8px;
    position: relative;
    bottom: 1px;
}

.button {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: grey;
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 43%;
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
}

.button img {
    margin-top: 4px;
    transform: scale(0.8);
}

#button:hover .mask {
    position: absolute;
    left: 8%;
    bottom: 50%;
    opacity: 1;
    transform: scale(1);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#button:hover .history {
    position: absolute;
    left: 3%;
    bottom: 25%;
    opacity: 1;
    transform: scale(1);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.message img {
    float: left;
    margin-left: 5px;
}

#button:hover .message {
    position: absolute;
    left: 20%;
    bottom: 6.5%;
    opacity: 1;
    transform: scale(1);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.unread {
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    float: right;
    font-size: 11px;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    right: -8px;
}

#button:hover .setting {
    position: absolute;
    left: 48%;
    bottom: 0%;
    opacity: 1;
    transform: scale(1);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#button:hover .sign {
    position: absolute;
    left: 73.5%;
    bottom: 12%;
    opacity: 1;
    transform: scale(1);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}